.img1{
  width: 200px;
  border-radius: 10px;
  margin-right: 10px;
}

.img2{
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
}

.img3{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100px;
}

.search-box{
  padding: 8px 10px;
  font-size: 14px;
  border: solid 1.5px rgb(61, 61, 61);
  border-radius: 3px;
  margin-right: 20px;
}

.search-box-google{
  padding: 8px;
  width: 300px;
  border: none;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.linkedin-signup{
  border: solid 1.5px rgb(60, 60, 60);
  width: 250px;
  height: 25px;
  border-radius: 4px;
}

.agree-btn{
  padding: 8px 50px;
  margin-bottom: 20px;
  background-color: rgb(54, 113, 232);
  border: none;
  border-radius: 50px;
  color: white;
  display: block;
}

.tweet-img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 10px;
  vertical-align: middle;
  margin-left: 50px;
}

div p{
  display: inline-block;
  vertical-align: middle;
}

.tweet-btn{
  padding: 8px 15px;
  border: none;
  background-color: rgb(54, 113, 232);
  color: white;
  font-size: 14px;
  border-radius: 20px;
  margin-left: 10px;
  vertical-align: middle;
}



