.red-rectangle{
  width: 50px;
  height: 50px;
  background-color: red;
  display: inline-block;
  margin-right: 20px;
}

.green-circle{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: greenyellow;
  display: inline-block;
}

.satisfied{
  border: solid 2px rgb(130, 130, 130);
  width: 500px;
  height: 100px;
  border-radius: 5px;
}

.satisfied p{
  padding-left: 20px;
  font-weight: 600;
  font-size: 16px;
}

.satisfied button {
  margin-left: 20px;
}

.youtube-music{
 border: solid 2px black;
 width: 500px;
 height: 150px;
 border-radius: 5px;
 background-color: black;
}

.youtube-music p, .youtube-music h1{
  color: white;
  padding-left: 20px;
}

.search-box{
  width: 100%;
  margin: auto;
}

.google-input{
  display: block;
  margin: auto;
  padding: 10px 15px;
  width: 500px;
  border-radius: 50px;
  margin-bottom: 40px;
  border: none;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.button-section button{
  padding: 10px;
  border: none;
  font-size: 14px;
}


img{
  display: block;
  margin: auto;
  margin-bottom: 20px;
}