.tweet-card{
  width: 200px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 20px;
}
.profile-image{
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.name{
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px 0px 5px;
}

.description{
  font-size: 16px;
  color: rgb(88, 88, 88);
  margin: 0px 0px 10px 5px;
}

.add-btn{
  background-color: rgb(76, 101, 242);
  border: none;
  color: white;
  padding: 7px 10px;
  border-radius: 4px;
  margin: 0px 0px 10px 5px;
  cursor: pointer;
}


.tweet-card1{
  width: 200px;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 20px;
}

.mini-img{
  display: inline-block;
}

.mini{
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100px;
  vertical-align: middle;
  margin-left: 5px;
}

.description1{
  font-size: 16px;
  color: rgb(88, 88, 88);
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}