.uber-btn{
  background-color: black;
  color: white;
  padding: 10px;
  cursor: pointer;
}

.uber-btn:hover{
  opacity: 0.7;
}

.amazon-btn{
  background-color: rgb(255,216,20);
  border: none;
  padding: 7px 30px;
  border-radius: 20px;
  font-size: 12px;
}

.amazon-btn:hover{
  background-color: rgb(240, 203, 16);
}

.github-btn:hover{
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
}

.github-btn{
  color: white;
  background-color: rgb(46,164,79);
  border: none;
  padding: 8px 13px;
  border-radius: 3px;
  font-weight: 600;
  font-size: 12px;
}

.get-started-btn{
  color: white;
  background-color: rgb(121,82,179);
  border: none;
  padding: 8px 15px;
  border-radius: 2px;
  margin-right: 10px ;
}

.get-started-btn:hover{
  background-color: rgb(106, 69, 161);
}

.download-btn{
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(172, 172, 172); /* style width and color*/
  padding: 8px 15px;
  border-radius: 2px;
  transition: color .5s, background-color 0.5s;
}

.download-btn:hover{
  background-color: rgb(172, 172, 172);
  color: white;
}

.linkedin-apply{
  color: white;
  background-color: rgb(10, 102, 194);
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}

.linkedin-apply:hover{
  background-color: rgb(8, 89, 170);
}

.linkedin-save{
  color: rgb(10, 102, 194);
  background-color: white;
  padding: 7px 15px;
  border-radius: 20px;
  border: solid 1px rgb(10, 102, 194);
  font-weight: 600;
}

.linkedin-save:hover{
  border-width: 2px;
  background-color: rgba(10, 102, 194, 0.1);
}


.buy-btn{
  background-color: rgb(255,164,28);
  border: none;
  padding: 7px 30px;
  border-radius: 20px;
  font-size: 12px;
  margin-left: 10px;
}

.buy-btn:hover{
  opacity: 0.8;
}

.buy-btn:active{
  opacity: 0.6;
}

.stock{
  color: rgb(0, 118, 0);
}

a:hover{
  color: red;
}

.amazon-btn:{
  opacity: 0.8;
}

.amazon-btn:active{
  opacity: 0.6;
}
